NODE_ENV=development

AUTH_SERVICE_PORT=4001
TICKET_SERVICE_PORT=4002
NOTIFICATION_SERVICE_PORT=4003

MONITOR_SERVICE_PORT=5001
HEALING_ENGINE_PORT=5002
INCIDENT_SERVICE_PORT=5003

DASHBOARD_PORT=3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pulse

JWT_SECRET=your_jwt_secret_key